.morph-carousel-stage {
  background-color: transparent;
}
.morph-carousel__item {
  color: inherit;
}
.morph-carousel__separator {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 50%;
  width: 24px;
  margin-left: -12px;
  background: #f2d6b1;
}
.morph-carousel__shadow {
  top: 0;
  bottom: 0;
  left: -4px;
  right: -4px;
  position: absolute;
  z-index: 10;
  background: linear-gradient(
    to right,
    rgba(238, 234, 209, 0.95) 0%,
    rgba(238, 235, 210, 0.7) 15%,
    rgba(238, 235, 210, 0) 45%,
    rgba(238, 235, 210, 0) 55%,
    rgba(238, 235, 210, 0.7) 85%,
    rgba(238, 234, 209, 0.95) 100%);

}
